USE [master]
GO
/****** Object:  Database [AccBase0]    Script Date: 31.03.2021 8:39:42 ******/
CREATE DATABASE [AccBase0]
 CONTAINMENT = PARTIAL
 ON  PRIMARY 
( NAME = N'AccBase0', FILENAME = N'C:\AccBase0.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AccBase0_Log', FILENAME = N'C:\AccBase0_Log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AccBase0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AccBase0]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Sign] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asset]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Asset] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deal]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deal](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Deal] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Face]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Face](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Geo]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Geo](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Info]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Item] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Sign] [int] NULL,
	[Account] [int] NULL,
	[Log] [int] NULL,
	[Process] [int] NULL,
	[Tax] [int] NULL,
	[Item] [int] NULL,
	[Deal] [int] NULL,
	[Price] [int] NULL,
	[Asset] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Meter] [int] NULL,
	[Value] [nvarchar](100) NULL,
	[Unit] [int] NULL,
	[More] [varchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mark]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mark](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meter]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meter](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Meter] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Price] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Process]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Process](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Sign] [int] NULL,
	[Account] [int] NULL,
	[Log] [int] NULL,
	[Log1] [int] NULL,
	[Process] [int] NULL,
	[Process1] [int] NULL,
	[Asset] [int] NULL,
	[Deal] [int] NULL,
	[Item] [int] NULL,
	[Tax] [int] NULL,
	[Price] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Meter] [int] NULL,
	[Value] [nvarchar](100) NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Report] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sign]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sign](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Sign] [int] NULL,
	[Account] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slice]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slice](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tax]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tax](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Tax] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 31.03.2021 8:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] NOT NULL,
	[Parent] [int] NULL,
	[Face1] [int] NULL,
	[Face2] [int] NULL,
	[Face] [int] NULL,
	[Slice] [int] NULL,
	[Date1] [smalldatetime] NULL,
	[Date2] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Geo] [int] NULL,
	[Account] [int] NULL,
	[Role] [int] NULL,
	[Info] [int] NULL,
	[Unit] [int] NULL,
	[More] [nvarchar](max) NULL,
	[Mark] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Sign], [Unit], [More], [Mark]) VALUES (1, 286, NULL, NULL, NULL, 7, NULL, N'', N'Ac.1', N'Краткосрочные активы', NULL, NULL, 9, NULL, 3, NULL, N'', 12)
INSERT [dbo].[Account] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Sign], [Unit], [More], [Mark]) VALUES (2, 1, NULL, NULL, NULL, 7, NULL, N'', N'Ac.1000', N'Денежные средства', NULL, NULL, 11, NULL, NULL, NULL, N'', 12)
INSERT [dbo].[Account] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Sign], [Unit], [More], [Mark]) VALUES (3, 2, NULL, NULL, NULL, 1, NULL, N'', N'Ac.1010', N'Денежные средства в кассе', NULL, NULL, 195, 72, NULL, NULL, N'', 12)
GO
INSERT [dbo].[Asset] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Asset], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, 1, NULL, NULL, NULL, 1, NULL, N'', N'Asset', N'AssetData', 11, NULL, NULL, 57, 47, 31, N'', 12)
INSERT [dbo].[Asset] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Asset], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 2, 1, NULL, NULL, 7, NULL, N'', N'Asset.Money', N'ДС', NULL, NULL, NULL, 34, 8, 6, N'Role.Generic.FullName.Денежные средства;', 12)
INSERT [dbo].[Asset] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Asset], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 3, 1, NULL, NULL, 7, NULL, N'', N'Asset.Template1.Good', N'Asset.Template1.Good', NULL, NULL, NULL, 28, 8, 31, N'', 14)
INSERT [dbo].[Deal] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Deal], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, NULL, NULL, NULL, NULL, 1, NULL, N'', N'Deal', N'DealData', NULL, NULL, NULL, 67, 47, 8, N'', 12)
INSERT [dbo].[Deal] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Deal], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 1, 11, 11, 1, 7, NULL, N'', N'Deal.alimony', N'алименты-МТиСЗН', 11, NULL, NULL, 51, 32, NULL, N'', 12)
INSERT [dbo].[Deal] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Deal], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 1, 11, NULL, 1, 7, NULL, N'', N'Deal.enbek.staff', N'штатное расписание-МТиСЗН', 11, NULL, NULL, 51, 38, NULL, N'', 12)
INSERT [dbo].[Face] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, 11, NULL, NULL, NULL, 7, NULL, N'', N'enbek', N'МТиСЗН РК', 11, NULL, 115, 57, NULL, N'', 12)
INSERT [dbo].[Face] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 11, 2, NULL, NULL, NULL, NULL, N'', N'FA1', N'Лицо учета1', 9, NULL, 110, 121, NULL, N'', 2)
INSERT [dbo].[Face] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 2, 2, NULL, NULL, NULL, NULL, N'', N'FA1.AdmStaff', N'Лицо учета1.АУП', NULL, NULL, 197, 72, NULL, N'', 2)
INSERT [dbo].[Geo] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, NULL, NULL, NULL, NULL, 7, NULL, N'', N'Geo', N'GeoData', NULL, NULL, 62, 47, NULL, N'', 12)
INSERT [dbo].[Geo] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 11, NULL, NULL, NULL, NULL, NULL, N'', N'Geo.Almaty', N'Алматы', NULL, NULL, 127, NULL, NULL, N'Role.Generic.FullName.Алматы', 12)
INSERT [dbo].[Geo] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Geo.BE', N'РБ', NULL, NULL, 128, NULL, NULL, N'Role.Generic.FullName.Республика Беларусь', 12)
INSERT [dbo].[Info] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, NULL, NULL, NULL, NULL, 1, NULL, N'', N'Info', N'InfoData', 11, NULL, 72, 47, NULL, N'', 12)
INSERT [dbo].[Info] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Info.Address', N'Address', NULL, NULL, 67, NULL, NULL, N'', 12)
INSERT [dbo].[Info] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 2, NULL, NULL, NULL, NULL, NULL, N'', N'Info.Address.Home', N'домашний', NULL, NULL, 122, 60, NULL, N'', 12)
GO
INSERT [dbo].[Item] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Item], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, NULL, 11, NULL, NULL, 1, NULL, N'', N'Item', N'ItemData', NULL, NULL, NULL, 61, 47, NULL, N'', 12)
INSERT [dbo].[Item] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Item], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Item.Advance', N'авансы', NULL, NULL, NULL, NULL, NULL, NULL, N'', 12)
INSERT [dbo].[Item] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Item], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Item.Advertising', N'реклама', NULL, NULL, NULL, NULL, NULL, NULL, N'', 12)
INSERT [dbo].[Log] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Sign], [Account], [Log], [Process], [Tax], [Item], [Deal], [Price], [Asset], [Role], [Info], [Meter], [Value], [Unit], [More], [Mark]) VALUES (1, NULL, 2, NULL, NULL, 1, NULL, N'', N'Log', N'LogData', 11, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 71, 45, NULL, N'', NULL, N'', 12)
INSERT [dbo].[Log] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Sign], [Account], [Log], [Process], [Tax], [Item], [Deal], [Price], [Asset], [Role], [Info], [Meter], [Value], [Unit], [More], [Mark]) VALUES (2, 1, NULL, 10, NULL, 9, NULL, N'', N'Log.AT', N'Log.AssetTemplate', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 142, NULL, 4, N'', NULL, N'', 14)
INSERT [dbo].[Log] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Sign], [Account], [Log], [Process], [Tax], [Item], [Deal], [Price], [Asset], [Role], [Info], [Meter], [Value], [Unit], [More], [Mark]) VALUES (3, 2, 9, NULL, NULL, 9, NULL, N'', N'Log.AT0.1', N'Log.AssetTemplate.Level0.Main', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 140, 92, NULL, N'', NULL, N'', 14)
INSERT [dbo].[Mark] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, 7, NULL, NULL, NULL, 1, NULL, N'', N'ArcD', N'ArchivalData', NULL, NULL, 122, NULL, NULL, N'', 12)
INSERT [dbo].[Mark] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 7, NULL, NULL, NULL, 1, NULL, N'', N'CD', N'CurrentData', NULL, NULL, 122, NULL, NULL, N'', 12)
INSERT [dbo].[Mark] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 7, NULL, NULL, NULL, 1, NULL, N'', N'DD', N'DraftData', NULL, NULL, 122, NULL, NULL, N'', 12)
INSERT [dbo].[Meter] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Meter], [Unit], [More], [Mark]) VALUES (1, 10, NULL, NULL, NULL, NULL, NULL, N'', N'Amount', N'сумма', NULL, NULL, 122, NULL, NULL, 6, N'', 12)
INSERT [dbo].[Meter] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Meter], [Unit], [More], [Mark]) VALUES (2, 10, NULL, NULL, NULL, NULL, NULL, N'', N'Authentication', N'аутентификация', NULL, NULL, NULL, NULL, NULL, 50, N'', 12)
INSERT [dbo].[Meter] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Meter], [Unit], [More], [Mark]) VALUES (3, 10, NULL, NULL, NULL, NULL, NULL, N'', N'Cost', N'себестоимость', NULL, NULL, 122, NULL, 1, NULL, N'', 12)
INSERT [dbo].[Price] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Price], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, NULL, NULL, NULL, NULL, 1, NULL, N'', N'Price', N'PriceData', NULL, NULL, NULL, 78, 47, NULL, N'', 12)
INSERT [dbo].[Price] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Price], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Price.Main', N'Оптовая цена', NULL, NULL, NULL, 154, 72, NULL, N'', 12)
INSERT [dbo].[Price] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Price], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Price.MainMarkup', N'Основная наценка', NULL, NULL, NULL, 160, 72, 30, N'', 12)
INSERT [dbo].[Process] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Sign], [Account], [Log], [Log1], [Process], [Process1], [Asset], [Deal], [Item], [Tax], [Price], [Role], [Info], [Meter], [Value], [Unit], [More], [Mark]) VALUES (1, 130, NULL, NULL, NULL, NULL, NULL, N'', N'AddSalary', N'Дополн удержание из ЗП', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 84, NULL, NULL, N'', NULL, N'', 14)
INSERT [dbo].[Process] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Sign], [Account], [Log], [Log1], [Process], [Process1], [Asset], [Deal], [Item], [Tax], [Price], [Role], [Info], [Meter], [Value], [Unit], [More], [Mark]) VALUES (2, 1, NULL, 11, NULL, NULL, NULL, N'', N'AddSalary.1', N'Удержание из ЗП', NULL, 3, 149, NULL, 26, NULL, NULL, NULL, 1, 8, 11, NULL, NULL, NULL, 1, N'', 6, N'', 14)
INSERT [dbo].[Process] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Sign], [Account], [Log], [Log1], [Process], [Process1], [Asset], [Deal], [Item], [Tax], [Price], [Role], [Info], [Meter], [Value], [Unit], [More], [Mark]) VALUES (3, 1, NULL, 11, 11, NULL, NULL, N'', N'AddSalary.2', N'Коррсчет удержания из ЗП', NULL, 1, 285, NULL, 26, 2, NULL, NULL, NULL, 8, NULL, NULL, NULL, NULL, 1, N'', 6, N'', 14)
GO
INSERT [dbo].[Report] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Report], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, NULL, NULL, NULL, NULL, 1, NULL, N'', N'Report', N'ReportData', 11, NULL, NULL, 72, 47, NULL, N'', 12)
INSERT [dbo].[Report] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Report], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Report.AccForm.Balance', N'Остатки', NULL, NULL, NULL, NULL, 138, NULL, N'', 12)
INSERT [dbo].[Report] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Report], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Report.AccForm.BalanceTurnover', N'Остатки и обороты', NULL, NULL, NULL, 92, 139, NULL, N'', 12)
INSERT [dbo].[Role] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, NULL, NULL, NULL, NULL, 1, NULL, N'', N'Role', N'RoleData', 11, NULL, 72, 47, NULL, N'', 12)
INSERT [dbo].[Role] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Role.Account', N'Account', NULL, NULL, 55, NULL, 2, N'', 12)
INSERT [dbo].[Role] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 2, NULL, NULL, NULL, NULL, NULL, N'', N'Role.Account.Asset', N'счет активов', NULL, NULL, NULL, NULL, NULL, N'', 12)
GO
INSERT [dbo].[Sign] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Sign], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, 5, NULL, NULL, NULL, 7, NULL, N'', N'Acc.Ct', N'Счет.Кредит', NULL, NULL, NULL, NULL, 161, NULL, N'', 12)
INSERT [dbo].[Sign] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Sign], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 5, NULL, NULL, NULL, NULL, NULL, N'', N'Acc.Ct-Dt', N'Счет.Кредит или Дебет', NULL, NULL, NULL, NULL, 160, NULL, N'', 12)
INSERT [dbo].[Sign] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Sign], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 5, NULL, NULL, NULL, 7, NULL, N'', N'Acc.Dt', N'Счет.Дебет', NULL, NULL, NULL, NULL, 161, NULL, N'', 12)
INSERT [dbo].[Slice] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, 13, NULL, NULL, NULL, 7, NULL, N'', N'Accounting', N'учет', NULL, NULL, 122, 72, NULL, N'', 12)
INSERT [dbo].[Slice] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 13, NULL, NULL, NULL, NULL, NULL, N'', N'Adjustment', N'корректировка', NULL, NULL, NULL, NULL, NULL, N'', 12)
INSERT [dbo].[Slice] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 13, NULL, NULL, NULL, NULL, NULL, N'', N'Budget', N'бюджет', NULL, NULL, 122, NULL, NULL, N'', 12)
INSERT [dbo].[Tax] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Tax], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, NULL, NULL, NULL, NULL, 7, NULL, N'', N'Tax', N'TaxData', 11, NULL, NULL, 93, 47, 6, N'', 12)
INSERT [dbo].[Tax] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Tax], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Tax.Custom', N'Таможенные платежи', NULL, 138, NULL, NULL, NULL, NULL, N'', 12)
INSERT [dbo].[Tax] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Tax], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 2, NULL, NULL, NULL, NULL, NULL, N'', N'Tax.Custom.Base', N'База ТП', NULL, 145, NULL, 212, NULL, NULL, N'', 12)
INSERT [dbo].[Unit] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (1, NULL, NULL, NULL, NULL, 1, NULL, N'', N'Unit', N'UnitData', 11, NULL, 57, 47, NULL, N'', 12)
INSERT [dbo].[Unit] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (2, 31, NULL, NULL, NULL, NULL, NULL, N'', N'Unit.Account', N'бухсчет', NULL, NULL, 233, NULL, 31, N'Role.Generic.FullName.бухсчет;', 12)
INSERT [dbo].[Unit] ([Id], [Parent], [Face1], [Face2], [Face], [Slice], [Date1], [Date2], [Code], [Description], [Geo], [Account], [Role], [Info], [Unit], [More], [Mark]) VALUES (3, 1, NULL, NULL, NULL, NULL, NULL, N'', N'Unit.Box', N'ящ', NULL, NULL, 234, 72, 31, N'Role.Generic.FullName.ящик;', 12)
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountAccount_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountFace_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountFace1_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountFace2_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountGeo_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountInfo_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountMark_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountParent_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountRole_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountSign_FK] FOREIGN KEY([Sign])
REFERENCES [dbo].[Sign] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountSign_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountSlice_FK]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [AccountUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [AccountUnit_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetAccount_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetAsset_FK] FOREIGN KEY([Asset])
REFERENCES [dbo].[Asset] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetAsset_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetFace_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetFace1_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetFace2_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetGeo_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetInfo_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetMark_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Asset] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetParent_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetRole_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetSlice_FK]
GO
ALTER TABLE [dbo].[Asset]  WITH CHECK ADD  CONSTRAINT [AssetUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Asset] CHECK CONSTRAINT [AssetUnit_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealAccount_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealDeal_FK] FOREIGN KEY([Deal])
REFERENCES [dbo].[Deal] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealDeal_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealFace_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealFace1_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealFace2_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealGeo_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealInfo_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealMark_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Deal] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealParent_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealRole_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealSlice_FK]
GO
ALTER TABLE [dbo].[Deal]  WITH CHECK ADD  CONSTRAINT [DealUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Deal] CHECK CONSTRAINT [DealUnit_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceAccount_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceFace_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceFace1_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceFace2_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceGeo_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceInfo_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceMark_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceParent_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceRole_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceSlice_FK]
GO
ALTER TABLE [dbo].[Face]  WITH CHECK ADD  CONSTRAINT [FaceUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Face] CHECK CONSTRAINT [FaceUnit_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoAccount_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoFace_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoFace1_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoFace2_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoGeo_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoInfo_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoMark_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoParent_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoRole_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoSlice_FK]
GO
ALTER TABLE [dbo].[Geo]  WITH CHECK ADD  CONSTRAINT [GeoUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Geo] CHECK CONSTRAINT [GeoUnit_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoAccount_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoFace_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoFace1_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoFace2_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoGeo_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoInfo_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoMark_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoParent_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoRole_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoSlice_FK]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [InfoUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [InfoUnit_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemAccount_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemFace_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemFace1_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemFace2_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemGeo_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemInfo_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemItem_FK] FOREIGN KEY([Item])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemItem_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemMark_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemParent_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemRole_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemSlice_FK]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [ItemUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [ItemUnit_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogAccount_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogAsset_FK] FOREIGN KEY([Asset])
REFERENCES [dbo].[Asset] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogAsset_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogDeal_FK] FOREIGN KEY([Deal])
REFERENCES [dbo].[Deal] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogDeal_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogFace_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogFace1_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogFace2_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogGeo_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogInfo_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogItem_FK] FOREIGN KEY([Item])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogItem_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogLog_FK] FOREIGN KEY([Log])
REFERENCES [dbo].[Log] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogLog_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogMark_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogMeter_FK] FOREIGN KEY([Meter])
REFERENCES [dbo].[Meter] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogMeter_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Log] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogParent_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogPrice_FK] FOREIGN KEY([Price])
REFERENCES [dbo].[Price] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogPrice_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogProcess_FK] FOREIGN KEY([Process])
REFERENCES [dbo].[Process] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogProcess_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogRole_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogSign_FK] FOREIGN KEY([Sign])
REFERENCES [dbo].[Sign] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogSign_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogSlice_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogTax_FK] FOREIGN KEY([Tax])
REFERENCES [dbo].[Tax] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogTax_FK]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [LogUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [LogUnit_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkAccount_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkFace_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkFace1_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkFace2_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkGeo_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkInfo_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkMark_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkParent_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkRole_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkSlice_FK]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [MarkUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [MarkUnit_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterAccount_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterFace_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterFace1_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterFace2_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterGeo_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterInfo_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterMark_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterMeter_FK] FOREIGN KEY([Meter])
REFERENCES [dbo].[Meter] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterMeter_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Meter] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterParent_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterRole_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterSlice_FK]
GO
ALTER TABLE [dbo].[Meter]  WITH CHECK ADD  CONSTRAINT [MeterUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Meter] CHECK CONSTRAINT [MeterUnit_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceAccount_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceFace_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceFace1_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceFace2_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceGeo_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceInfo_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceMark_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Price] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceParent_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PricePrice_FK] FOREIGN KEY([Price])
REFERENCES [dbo].[Price] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PricePrice_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceRole_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceSlice_FK]
GO
ALTER TABLE [dbo].[Price]  WITH CHECK ADD  CONSTRAINT [PriceUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Price] CHECK CONSTRAINT [PriceUnit_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessAccount_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessAsset_FK] FOREIGN KEY([Asset])
REFERENCES [dbo].[Asset] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessAsset_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessDeal_FK] FOREIGN KEY([Deal])
REFERENCES [dbo].[Deal] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessDeal_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessFace_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessFace1_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessFace2_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessGeo_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessInfo_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessItem_FK] FOREIGN KEY([Item])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessItem_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessLog_FK] FOREIGN KEY([Log])
REFERENCES [dbo].[Log] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessLog_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessLog1_FK] FOREIGN KEY([Log1])
REFERENCES [dbo].[Log] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessLog1_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessMark_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessMeter_FK] FOREIGN KEY([Meter])
REFERENCES [dbo].[Meter] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessMeter_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Process] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessParent_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessPrice_FK] FOREIGN KEY([Price])
REFERENCES [dbo].[Price] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessPrice_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessProcess_FK] FOREIGN KEY([Process])
REFERENCES [dbo].[Process] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessProcess_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessProcess1_FK] FOREIGN KEY([Process1])
REFERENCES [dbo].[Process] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessProcess1_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessRole_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessSign_FK] FOREIGN KEY([Sign])
REFERENCES [dbo].[Sign] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessSign_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessSlice_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessTax_FK] FOREIGN KEY([Tax])
REFERENCES [dbo].[Tax] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessTax_FK]
GO
ALTER TABLE [dbo].[Process]  WITH CHECK ADD  CONSTRAINT [ProcessUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Process] CHECK CONSTRAINT [ProcessUnit_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportAccount_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportFace_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportFace1_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportFace2_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportGeo_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportInfo_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportMark_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Report] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportParent_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportReport_FK] FOREIGN KEY([Report])
REFERENCES [dbo].[Report] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportReport_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportRole_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportSlice_FK]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [ReportUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [ReportUnit_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleAccount_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleFace_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleFace1_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleFace2_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleGeo_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleInfo_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleMark_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleParent_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleRole_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleSlice_FK]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [RoleUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [RoleUnit_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignAccount_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignFace_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignFace1_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignFace2_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignGeo_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignInfo_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignMark_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Sign] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignParent_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignRole_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignSign_FK] FOREIGN KEY([Sign])
REFERENCES [dbo].[Sign] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignSign_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignSlice_FK]
GO
ALTER TABLE [dbo].[Sign]  WITH CHECK ADD  CONSTRAINT [SignUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Sign] CHECK CONSTRAINT [SignUnit_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceAccount_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceFace_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceFace1_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceFace2_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceGeo_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceInfo_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceMark_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceParent_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceRole_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceSlice_FK]
GO
ALTER TABLE [dbo].[Slice]  WITH CHECK ADD  CONSTRAINT [SliceUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Slice] CHECK CONSTRAINT [SliceUnit_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxAccount_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxFace_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxFace1_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxFace2_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxGeo_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxInfo_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxMark_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Tax] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxParent_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxRole_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxSlice_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxTax_FK] FOREIGN KEY([Tax])
REFERENCES [dbo].[Tax] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxTax_FK]
GO
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD  CONSTRAINT [TaxUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Tax] CHECK CONSTRAINT [TaxUnit_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitAccount_FK] FOREIGN KEY([Account])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitAccount_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitFace_FK] FOREIGN KEY([Face])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitFace_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitFace1_FK] FOREIGN KEY([Face1])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitFace1_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitFace2_FK] FOREIGN KEY([Face2])
REFERENCES [dbo].[Face] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitFace2_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitGeo_FK] FOREIGN KEY([Geo])
REFERENCES [dbo].[Geo] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitGeo_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitInfo_FK] FOREIGN KEY([Info])
REFERENCES [dbo].[Info] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitInfo_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitMark_FK] FOREIGN KEY([Mark])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitMark_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitParent_FK] FOREIGN KEY([Parent])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitParent_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitRole_FK] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitRole_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitSlice_FK] FOREIGN KEY([Slice])
REFERENCES [dbo].[Slice] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitSlice_FK]
GO
ALTER TABLE [dbo].[Unit]  WITH CHECK ADD  CONSTRAINT [UnitUnit_FK] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Unit] CHECK CONSTRAINT [UnitUnit_FK]
GO
USE [master]
GO
